/* ==fonts== */
@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500&display=swap');

/* main-layout */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d8784494, #3f2412);
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  color: var(--main-color);
}

.main-container-home {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

/* == Buttons == */

.explore-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Royal Acidbath', sans-serif;
}

.learn-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Royal Acidbath', sans-serif;
}

/* == Nav Bar == */
.nav-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px thin grey; */
  border-radius: 4px;
  /* box-shadow:  1px 1px lightblue; */
  margin-bottom: 4px;
  font-size: 24px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent); */
}


.home-button, .nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* == Fonts == */
.home-button li, .nav-menu li {
  margin-right: 20px;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Font Awesome 6 Free Solid';
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: 'Font Awesome 6 Free Solid';
}

h3{
  font-size: 1.7em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 600;
}

p {
  margin-bottom: 1em;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  font-family: 'Big Shoulders Display', sans-serif;
}

a:hover {
  text-decoration: underline;
}

/* == logo == */
.das-globe-logo{
  background: red;
  width: 200px;
  border-radius: 40%;
  padding: 2%;
}

/* ===Banner/Header=== */
#home-banner {
  width: 100%;
  padding: 20px;
  text-align: center;
  /* background-color: var(--secondary-color); */
  border-radius: 2px;
  border-bottom: 1px solid red;
}

.home-banner-content{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.home-banner-logo{
  display: flex;
  flex-direction: column;
}


.dgm-img{
  width: 320px;
  padding-top: 12px;
  /* box-shadow: 0 10px 30px rgba(0,0,0,.1);    Light shadow */
}


.home-banner-text{
  text-align: left;
}

/* == Client Section == */

.client-list{
  text-align: center;
  /* background-color:black; */
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.client-list ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid red;
}

.client-list li{
  text-decoration: none;
  list-style-type: none;

  #otoco{
    width: 200px;

  }
  #jsb{
    width: 200px;
  }
  #d-league{
    width:200px;
  }
}




.services-pill{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  background-color: black;
}

.pill{
  background-color: red;
  text-align: center;
  font-size: 24px;
  font-family: 'Big Shoulders Display', sans-serif;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}


.home-services-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;

  .home-services-text{
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: gray;
  }

  h2{
    border-bottom: 1px solid red;
  }
}

.client-services-contact {
  border-radius: 5px;
  background: linear-gradient(to bottom, #d8784494, #3f2412);  padding: 20px;
  width: 300px;
  border: 1px solid red;
  margin: 20px;
  height: 500px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
  /* Add a background color and some padding around the form */
}

/* == Artist Section == */

.das-artist-section{
  max-width: 100%;
  width: 100%;
  background-color: black;
}
.artist-section-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin-top: 12px;
  padding: 12px;


}
.artist-header-text{
  width:60% ;

  h3{
    border-bottom: 1px solid red;
  }
}


.das-collaborations-card{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly ;
}
.artist-profile{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  width: 50%; /* Adjust this value based on your needs */
  /* Optional: Add some margin for spacing between items */
  /* margin: 0 10px; */
  /* Optional: Allow items to grow if there is extra space */
  flex-grow: 1;
  /* Optional: Align items as needed */
  align-self: flex-start;
  padding: 2%;

  .artist-card{
    width: 120px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 4px;
    margin: 12px;
    padding: 4px;

    h3{
        margin: 1px;
      }

     p{
      margin: 0;
     };
    }
    .artist-profile-photo{
      width: 80px;
      border-radius: 50%;
    }
  }

  .das-publications{
    width: 40%;
    text-align: left;


    .rsm-logo{
      width: 360px;
      background-color: red;
    }
    .sf-logo{
      width: 360px;
      background-color: red;

    }
    .twib-logo{
      width: 240px;
      background-color: red;
    }
    .cs-logo{
      width: 120px;
    }
    .nmw-sp{
      width: 120px;

    }
    .spin-sp{
      width: 120px;
    }
    .tr-sp{
      width:117px;
    }
  }
  .artist-contact-section{
    background-color: black;
    max-width: 100%;
    display: flex;
  }

  .artist-contact-form {
    border-radius: 5px;
    background: linear-gradient(to bottom, #d8784494, #3f2412);  padding: 20px;
    width: 300px;
    border: 1px solid red;
    margin: 20px;
    height: 700px;
  }
  .artist-services-text{
    width: 60%;
    margin: 2px auto;
    padding: 2px auto;
    background-color: gray;

    h2{
      border-bottom: 1px solid red;
    }

  }

  /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Add a background color and some padding around the form */




/* == bio == */

.about{
  width: 100%;
  background-color: black;
  margin-top: 12px;
  position: relative;
}
.das-bio{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dasteam-profile-card{
  width: 400px;
  margin: 20px;
  border:1px solid red;
  display: flex;
  flex-direction:row ;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;




  .das-team-avatar{
    width: 80px;
    border-radius: 50%;

  }

  .team-member-info{
    width: 60%;

  }

  h3{
    margin: 0px;
  }
  p{
    margin: 0px;
  }

}
.team-member-quote{
  display: flex;
  justify-content: center;
  padding: 8px;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto; /* Center the element horizontally */

  h3{
     font-family: 'Royal Acidbath', sans-serif;
  }
}

.promotion-card{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.why-us-ad{
  background: linear-gradient(to bottom, #d8784494, #3f2412);
  font-family: 'Font Awesome 6 Free Solid';
  border: 1px solid red;
  width: 300px;
  height: 400px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 8px;

  .why-us-title{
    border-bottom: 1px solid red;
  }



}


/* Add more styles as needed */

/* Specify the font from Google Fonts */
