/* ==fonts== */
@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500&display=swap');

/* main-layout */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #d8784494, #3f2412);
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  color: var(--main-color);


}

.main-container-home {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;


}




.nav-bar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px thin grey; */
  border-radius: 4px;
  /* box-shadow:  1px 1px lightblue; */
  margin-bottom: 4px;
  font-size: 24px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent); */



}


.home-button, .nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;


}

.home-button li, .nav-menu li {
  margin-right: 20px;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Font Awesome 6 Free Solid';

}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-family: 'Font Awesome 6 Free Solid';
}
h3{
  font-size: 1.7em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 600;


}

p {
  margin-bottom: 1em;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 800;


}

a {
  text-decoration: none;
  font-family: 'Big Shoulders Display', sans-serif;
}

a:hover {
  text-decoration: underline;
}
/* ===Banner/Header=== */
#home-banner {
  width: 100%;
  padding: 20px;
  text-align: center;
  /* background-color: var(--secondary-color); */
  border-radius: 2px;
  border-bottom: 1px solid red;
}

.home-banner-content{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;

}

.home-banner-logo{
  display: flex;
  flex-direction: column;

}


.dgm-img{
  width: 320px;
  padding-top: 12px;
  /* box-shadow: 0 10px 30px rgba(0,0,0,.1);    Light shadow */


}
.das-publications{
  width: 40%;
  text-align: left;
  border: 1px solid white;

  .rsm-logo{
    width: 240px;
    background-color: red;
  }
  .sf-logo{
    width: 200px;
    background-color: red;

  }
  .twib-logo{
    width: 50px;
    background-color: red;


  }
  .cs-logo{
    width: 80px;
  }


}

.home-banner-text{
  text-align: left;
}

.blue-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Royal Acidbath', sans-serif;

}
.client-list{
  text-align: center;
  background-color:black;
}

.client-list ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.client-list li{
  text-decoration: none;
  list-style-type: none;



  #otoco{
    width: 200px;

  }
  #jsb{
    width: 200px;
  }
  #d-league{
    width:200px;
  }

}




.services-pill{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.pill{
  background-color: red;
  text-align: center;
  font-size: 24px;
  font-family: 'Big Shoulders Display', sans-serif;
  border-radius: 8px;
  padding: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */

}


/* Add more styles as needed */

/* Specify the font from Google Fonts */
