/* ==fonts== */
@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');

/* main-layout */

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home{
  margin: 0;
  box-sizing: border-box;
  background-color: black;


}
/* ==header(Banner)== */

header {
  width: 100%;
  text-align: left;
  background-color: var( --main-color) ;
  /* margin: 0 auto 4%; */
  /* padding: 4%; */

}
#header-nav {
  font-family: 'Big Shoulders Display', sans-serif;

  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#nav  {
  width: 30%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 200;
}

#nav li {
  display: inline-block;
  margin-right: 2%; /* Adjust the margin as needed */
}

#header-logo {
  width: 50%;
  padding: 5% 8%;
}
.header-text {
  padding: 0 10%;
  display:flex;
  flex-direction: column;
}
#header-title {
  font-family: 'Royal Acidbath', sans-serif;
  font-size:42px;
  color:white;
  margin-top: -2%;
}
#header-subtitle {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size:32px;
  font-weight: bolder;
  color:white;
  margin-top: -2%;
  margin-bottom: 1%;
}
#header-button {
  background-color: var(--main-btn-color);
  width: 220px;
  height: 48px;
  border-radius: 4px;
  font-family: 'Big Shoulders Display', sans-serif;

  p {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Big Shoulders Display', sans-serif;

  }

}

/* ==home-about== */
#home-about{
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;



}
#home-about-text {
  text-align: left;
  width: 40%;
  font-family: 'Open Sans', sans-serif;

}

.music-pub-logo {
  width: 40%;
  padding:1%;


  #rsm-logo {
    width: 600px;
    background-color: red;

  }

  #stereofox-logo {
    width:240px;
  }

  #chill-select-logo{
    width: 120px;
  }
}

/* ==clients - affiliates== */

#clients-affiliates{
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Big Shoulders Display', sans-serif;
  margin: 0%;
  padding: 0%;
}

.c-a-heading h1{
  text-align: center;
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.c-a-logo{
  list-style-type: none;

  ul{
    width:40px;
  }

  li {
    display: inline-block;

  }



}
