/* Reset margin and padding for the whole document */
#landing-page{
  margin: 0;
  /* padding: 0; */
}

/* Your existing styles for the main wrapper */
.main-wrapper {
  background-color: var(--main-color);
  margin: 0;
  width: 100%;
  height: 100vh; /* Set to 100% of the viewport height */
}
