/* ==fonts== */
@import url('https://fonts.cdnfonts.com/css/royal-acidbath');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
@import url('https://fonts.cdnfonts.com/css/roboto-condensed');


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  color: var(--main-color);
  background: linear-gradient(to bottom, rgb(121 5 5 / 30%) 0%, rgba(0, 0, 0, 0.9) 100%), #050100;
}



/* == Buttons == */

.explore-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  font-family: 'Royal Acidbath', sans-serif;
}



/* == Nav Bar == */



.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black; /* Choose your text color */
  background: linear-gradient(rgb(255 219 230 / 90%), rgb(255 181 79 / 53%));
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 90px;

}

.logo img {
  max-height: 80px;
  margin-left: 112px; /* Adjust the max height based on your logo size preference */
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin-right: 112px;
}

.nav-menu li {
  margin-right: 20px;
  margin-right: 20px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  font-family: 'Oswald', sans-serif;

}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 250;
  padding: 8px; /* Increased padding for a larger clickable area */
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.nav-menu a:hover {
  text-decoration: none;
  background-color: #ff9900; /* Change to your preferred hover color */
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}
.menu-toggle {
  display: none; /* Hide by default */
}

@media screen and (max-width: 1024px) {
  /* Styles for tablets */
  body {
    font-size: 14px; /* Example: Adjust font size for better readability on tablets */
  }

  .nav-menu {
    display: none; /* Hide the navigation menu by default on tablets */
  }

  .nav-toggle {
    display: block; /* Display the toggle button on tablets */
  }

  .nav-toggle .fas {
    font-size: 1.5rem; /* Example: Adjust icon size for better visibility on tablets */
  }

  .nav-menu.active {
    display: flex; /* Display the navigation menu when the toggle button is clicked on tablets */
    flex-direction: column; /* Arrange menu items vertically */
    position: absolute; /* Position the menu absolutely */
    top: 90px; /* Adjust the top position based on your header height */
    left: 0;
    right: 0;
    background-color: #fff; /* Example: Change background color of the menu */
    padding: 20px; /* Example: Add padding for better spacing */
    border: 1px solid #ccc; /* Example: Add border for better visibility */
    border-top: none; /* Example: Remove top border to merge with the header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Example: Add box shadow for a subtle effect */
  }

  .nav-menu li {
    margin: 10px 0; /* Example: Adjust margin between menu items for better spacing */
  }

  .nav-menu a {
    font-size: 1.2rem; /* Example: Adjust font size for better readability */
  }
}

/* Styles for smartphones */
@media screen and (max-width: 480px) {
  /* Styles for smartphones */
  body {
    font-size: 12px; /* Example: Adjust font size for better readability on smartphones */
  }

  .nav-toggle .fas {
    font-size: 1.3rem; /* Example: Adjust icon size for better visibility on smartphones */
  }

  .nav-menu.active {
    top: 80px; /* Adjust the top position based on your header height */
    padding: 15px; /* Example: Adjust padding for better spacing */
  }

  .nav-menu a {
    font-size: 1.1rem; /* Example: Adjust font size for better readability */
  }
}

/* == Fonts == */

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Royal Acidbath', sans-serif;
}

h2 {
  font-size: 1.7em; /* Adjusted font size */
  margin-bottom: 0.5em;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.5em; /* Adjusted font size */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: 'Oswald', sans-serif;
}

p {
  margin-bottom: 1em;
  font-size: 1em; /* Adjust the value based on your preference */
  font-family: 'Proxima Nova Condensed', sans-serif;
  font-weight: 200;
}

a {

  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  text-decoration: none;
}

/* == logo == */
.das-globe-logo{
  /* background: red; */
  width: 200px;
  border-radius: 40%;
  padding: 2%;
}

/* ==Banner-Services== */

.services-banner {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(10 9 7 / 90%), rgb(249 179 18 / 81%));
}

.services-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.services-banner img.active {
  opacity: 1;
}

.services-banner img:nth-child(1) {
   background-image: url('/src/images/jsbland.jpeg');
}

.services-banner img:nth-child(2) {
  background-image: url('/src/images/jsb_sot.jpeg');
}

.services-banner img:nth-child(3) {
  background-image: url('/src/images/septeni_raptures.png');
}

/* Add more images as needed */







/* == Services Main Container== */

.main-container-services{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Center the container horizontally */
  text-align: center;
  /* background: linear-gradient(to bottom, rgb(121 5 5 / 30%) 0%, rgba(0, 0, 0, 0.9) 100%), #050100; */
}


/* ==Brand--Services== */
.service-wrapper{
  width: 100%;
  display:flex;
  background: linear-gradient(rgb(10 9 7 / 90%), rgb(249 179 18 / 81%));
}

.das-service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  width: 400px;

}

.service-title h2{
  font-family: 'Royal Acidbath', sans-serif;

  /* border-bottom: 1px solid white; */

}
.service-type-info{
  width: 100%;
  li{
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid white;

  }
}

.service-action-btn{
  font-family: 'Royal Acidbath', sans-serif;
  width: 400px;
  border-radius:8px;
}


.service-action-btn h3{
  font-family: 'Royal Acidbath', sans-serif;

}

#services-page-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page-title{
  font-size: 80px;
}
#service-icon-1{
  width: 100px;
}




#monsieur-jovoni-avatar-2{
  width: 60px;
  border-radius: 50%;
}

#monsieur-jovoni-services-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==Artist Services== */
.service-wrapper-vertical
{
  width: 100%;
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  background: linear-gradient(rgb(10 9 7 / 90%), rgb(249 179 18 / 81%));
}
#artist-info-section {
  border:1px solid white;
  text-align: left;
  width: 700px;
  display: flex;
  align-items: start;
  margin: 4%;
  padding: 2%;
}
.button-margin{
  width: 300px;
}
.artist-action-card{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
}
.border-right-none{
  border-right:none

}

#mixer{
  width: 1200px;
  height: 360px;
  object-fit: cover;
  filter: grayscale(90%) brightness(90%) contrast(100%) sepia(360%)}

/* ==Tech Services== */
  #saas{
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

#web-dev-img{
  width: 360px;
}
#web-dev-info.service-type-info {

  width: 60%;
}

#tech{
  width: 400px;
}

#web-dev-portfolio{
  /* width: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4%;
}

#lp-template{
  width: 220px;
  border-radius: 4px;
}
#flip-it-temp{
  width: 160px;
  border-radius: 4px;
}
.quote-action-btn {
  position: relative;
  width: 200px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #3498db 0%, #3498db 50%, #1f4788 100%);
}

/* Apply the greying out effect on hover */
.quote-action-btn:hover {
  text-decoration: none;
  filter: grayscale(70%); /* Adjust the percentage based on your preference */
  transition: filter 0.3s ease-in-out;
  color: #ff9900; /* Smooth transition for the greying out effect */
}

.quote-action-btn a {
  text-decoration: none;
  color: inherit;
}

/* Rest of your existing styles for h3 and other elements */
.quote-action-btn h3 {
  font-family: 'Royal Acidbath', sans-serif;
  /* Add any additional styles for the normal state */
}



/* ==Pricing== */




.artist-services-img{
  max-width: 1200px;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}
#pricing-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 4%;

}

#pricing{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* justify-content: start; */
  align-items: center;
  /* margin: 4%; */
}
.pricing-info{
  display: flex;
  flex-direction: column;

}
.pricing-service-info{
  display: flex;
  flex-direction: row;
}


/* ==Pricing Contact Form== */
.contact-form {
  max-width: 800px;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  color: #333; /* Adjust text color */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 16px;
  color: #555; /* Adjust label color */
}

input,
select,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="submit"] {
  background-color: #4caf50; /* Change to your preferred color */
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049; /* Change to your preferred hover color */
}
